pandas
demoparser2
requests
fastapi
uvicorn
python-multipart
asyncpg
psycopg2-binary
sqlalchemy
python-dotenv
python-jose[cryptography]
bcrypt
email-validator
pydantic[email]
httpx
numpy
python-dateutil
pytz
typing-extensions